body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.form-body {
  width: 600px;
  height: auto;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-1 {
  display: flex;
  align-items: center;
  width: 542px;
}

.logo {
  width: 85.65px;
  height: 52px;
  margin-right: 40px;
  margin-left: -18px;
}

.title {
  color: #039be5;
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

.horizontal-rule {
  border: 1px solid #000000;
  width: 542px;
}

.sec-2 {
  margin-top: 30px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.input {
  border: 1px solid #c7d2e5;
  width: 266px;
  height: 48px;
  border-radius: 4px;
  padding-left: 20px;
  outline: none;
}
.input-date {
  border: 1px solid #c7d2e5;
  outline: none;
  width: 266px;
  height: 48px;
  border-radius: 4px;
  padding-left: 20px;
}

.input::placeholder {
  color: #8d8d8d;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.input-date::placeholder {
  color: #8d8d8d;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.date-input-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.date-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 250px;
}

.sec-3 {
  margin-top: 20px;
}

.check-and-ok {
  background-color: #61ae85;
  width: 590px;
  height: 140px;
}

.text-ok {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-top: 12px;
  padding-left: 50px;
}

.check-future-attention {
  background-color: #ffd470;
  width: 540px;
  z-index: 1;
  height: 100px;
  margin-top: -100px;
  margin-left: 50px;
}

.future-attention-text {
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 50px;
}
.check-interior-exterior {
  background-color: #ed4747;
  width: 495px;
  z-index: 1;
  height: 60px;
  margin-left: 95px;
  margin-top: -60px;
}

.interior-text {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-top: 18px;
  padding-left: 50px;
}

.sec-4 {
  width: 590px;
  height: 50px;
  background-color: #383838;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
}

.sec-5 {
  display: flex;
  align-items: center;
  width: 590px;
  gap: 5px;
  border-bottom: 1px solid #383838;
}

.check-input-wrap input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  outline: none;
  margin: 0;
  background-color: #fdfeff;
}

.check-input-wrap input[type="radio"]:checked {
  background-color: #13c2c2;
}

.check-input-wrap {
  display: flex;
  align-items: center;
  width: 233px;
}

/* //////////////////////////////////////// */

.check-input-wrap-2 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  outline: none;
  margin: 0;
  background-color: #fdfeff;
}

.check-input-wrap-2 input[type="radio"]:checked {
  background-color: #13c2c2;
}

.check-input-wrap-2 {
  display: flex;
  align-items: center;
  width: 233px;
}

/* ////////////////////////////////////////// */

.check-input-wrap-3 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  outline: none;
  margin: 0;
  background-color: #fdfeff;
}

.check-input-wrap-3 input[type="radio"]:checked {
  background-color: #13c2c2;
}

.check-input-wrap-3 {
  display: flex;
  align-items: center;
  width: 233px;
}

/* ////////////////////////////////////////// */

.check-button {
  width: 30px;
  height: 30px;
  border-radius: 0;
}

.green-bg {
  background-color: #61ae85;
  margin-left: 0px;
  width: 35px;
  padding: 6px;
  margin-top: 0px;
  padding-top: 10px;
}
.yellow-bg {
  background-color: #ffd470;
  margin-left: 0px;
  padding: 6px;
  width: 35px;
  margin-top: 0px;
  padding-top: 10px;
}
.red-bg {
  background-color: #ed4747;
  margin-left: 0px;
  padding: 6px;
  width: 35px;
  margin-top: 0px;
  padding-top: 10px;
}

.text-item {
  width: 358px;
  margin-left: -60px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.plain-check-wrap {
  width: 590px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #383838;
  border-top: none;
  height: 50px;
  /* background-color: #383838; */
}

.plain-check-wrap input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  outline: none;
  margin: 0;
  background-color: #f7f7f7;
}

.plain-check-wrap input[type="radio"]:checked {
  background-color: #13c2c2;
}

.check-input-container {
  display: flex;
  align-items: center;
}

.checkbox-input {
  width: 30px;
  height: 30px;
  border: 1px solid #383838;
}
.label {
  color: #383838;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-left: 3px;
}

.sec-7 {
  width: 586px;
  border: 1px solid #383838;
  margin-top: 0px;
}

.top-item {
  display: flex;
  justify-content: space-between;
}

.left-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 150px;
}

.mini-check-box-container {
  display: flex;
  align-items: center;
}
.input-wrapper {
  display: flex;
  padding: 5px;
  gap: 3px;
}

.input-wrapper input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  outline: none;
  margin: 0;
  width: 14px;
  height: 14px;
  background-color: #fdfeff;
}

.input-wrapper input[type="radio"]:checked {
  background-color: #13c2c2;
}

.input-wrapper-2 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  outline: none;
  margin: 0;
  width: 14px;
  height: 14px;
  background-color: #fdfeff;
}

.input-wrapper-2 input[type="radio"]:checked {
  background-color: #13c2c2;
}
.input-wrapper-3 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  outline: none;
  margin: 0;
  width: 14px;
  height: 14px;
  background-color: #fdfeff;
}

.input-wrapper-3 input[type="radio"]:checked {
  background-color: #13c2c2;
}
.input-wrapper-4 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  outline: none;
  margin: 0;
  width: 14px;
  height: 14px;
  background-color: #fdfeff;
}

.input-wrapper-4 input[type="radio"]:checked {
  background-color: #13c2c2;
}

.input-wrapper-5 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  outline: none;
  margin: 0;
  width: 14px;
  height: 14px;
  background-color: #fdfeff;
}

.input-wrapper-5 input[type="radio"]:checked {
  background-color: #13c2c2;
}
.input-wrapper-6 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  outline: none;
  margin: 0;
  width: 14px;
  height: 14px;
  background-color: #fdfeff;
}

.input-wrapper-6 input[type="radio"]:checked {
  background-color: #13c2c2;
}
.input-wrapper-7 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  outline: none;
  margin: 0;
  width: 14px;
  height: 14px;
  background-color: #fdfeff;
}

.input-wrapper-7 input[type="radio"]:checked {
  background-color: #13c2c2;
}
.input-wrapper-8 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  outline: none;
  margin: 0;
  width: 14px;
  height: 14px;
  background-color: #fdfeff;
}

.input-wrapper-8 input[type="radio"]:checked {
  background-color: #13c2c2;
}
.input-wrapper-9 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  outline: none;
  margin: 0;
  width: 14px;
  height: 14px;
  background-color: #fdfeff;
}

.input-wrapper-9 input[type="radio"]:checked {
  background-color: #13c2c2;
}
.input-wrapper-10 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  outline: none;
  margin: 0;
  width: 14px;
  height: 14px;
  background-color: #fdfeff;
}

.input-wrapper-10 input[type="radio"]:checked {
  background-color: #13c2c2;
}
.input-wrapper-11 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  outline: none;
  margin: 0;
  width: 14px;
  height: 14px;
  background-color: #fdfeff;
}

.input-wrapper-11 input[type="radio"]:checked {
  background-color: #13c2c2;
}
.input-wrapper-12 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  outline: none;
  margin: 0;
  width: 14px;
  height: 14px;
  background-color: #fdfeff;
}

.input-wrapper-12 input[type="radio"]:checked {
  background-color: #13c2c2;
}
.input-wrapper-13 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  outline: none;
  margin: 0;
  width: 14px;
  height: 14px;
  background-color: #fdfeff;
}

.input-wrapper-13 input[type="radio"]:checked {
  background-color: #13c2c2;
}
.input-wrapper-14 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  outline: none;
  margin: 0;
  width: 14px;
  height: 14px;
  background-color: #fdfeff;
}

.input-wrapper-14 input[type="radio"]:checked {
  background-color: #13c2c2;
}
.input-wrapper-15 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  outline: none;
  margin: 0;
  width: 14px;
  height: 14px;
  background-color: #fdfeff;
}

.input-wrapper-15 input[type="radio"]:checked {
  background-color: #13c2c2;
}
.input-wrapper-16 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  outline: none;
  margin: 0;
  width: 14px;
  height: 14px;
  background-color: #fdfeff;
}

.input-wrapper-16 input[type="radio"]:checked {
  background-color: #13c2c2;
}

.box-wrapper-green {
  background-color: #61ae85;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.box-wrapper-yellow {
  background-color: #ffd470;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.box-wrapper-red {
  background-color: #ed4747;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.right-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 150px;
}

.text-title {
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.left-box {
  width: 270px;
  border: 1px solid #383838;
  margin-top: 7px;
}

.right-box {
  width: 270px;
  border: 1px solid #383838;
  margin-top: 7px;
}

.custom-checkbox {
  width: 17px;
  height: 17px;
}

.mini-check-input {
  border: 1px solid #c7d2e5;
  outline: none;
}

.custom-checkbox-yellow {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
}

.custom-checkbox-yellow input {
  position: absolute;
  opacity: 0;
}

.custom-checkbox-red {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
}

.mini-check-text {
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-check-input {
  width: 140px;
  margin-right: 5px;
}

.illustration-wrap {
  display: flex;
  width: 542px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.checkbox-end {
  width: 30px;
  height: 30px;
}
.end-check-box {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 15px;
  margin-top: 20px;
}
.sec-9 {
  width: 99%;
  height: 50px;
  background-color: #383838;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.divider-9 {
  color: #ffffff;
}

.message-box-wrap {
  width: 99%;
  margin-top: 20px;
}

.message-box-input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #c7d2e5;
  border-radius: 5px;
  resize: none;
  outline: none;
}

.confirn-quality-wrap {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #039be5;
  margin-top: 30px;
}

.quality-confirmation-items-wrap {
  width: 100%;
  padding: 10px;
}

.quality-confirmation-item {
  line-height: 24px;
  color: #212121;
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.q-inspection-name-warp {
  width: 266px;
  height: 48px;
  border: 1px solid #c7d2e5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -330px;
}
.q-inspection-name {
  color: #8d8d8d;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat";
}

.footer-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.customer-copy {
  color: #212121;
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat";
}

.remarks {
  color: #039be5;
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat";
}

/* MEDIA QUERIES */

@media only screen and (max-width: 767px) {
  .form-body {
    width: 100%;
  }

  .sec-1 {
    width: 100%;
  }

  .title {
    font-size: 16px;
    text-align: center;
  }

  .horizontal-rule {
    width: 100%;
  }

  .input-group {
    flex-direction: column;
  }

  .sec-3 {
    width: 290px;
  }
  .check-and-ok {
    width: 100%;
  }
  .text-ok {
    font-size: 12px;
    margin-left: -17px;
  }
  .check-future-attention {
    width: 89.5%;
    margin-left: 30px;
  }
  .future-attention-text {
    font-size: 12px;
    text-align: left;
    margin-left: -20px;
  }

  .check-interior-exterior {
    width: 79.2%;
    margin-left: 60px;
  }

  .interior-text {
    font-size: 12px;
    text-align: left;
    margin-left: -20px;
  }

  .sec-4 {
    width: 90.5%;
    padding: 8px 0px;
  }
  .divider {
    font-size: 12px;
  }

  .sec-5 {
    width: 90.5%;
  }

  .check-input-wrap {
    width: 40%;
  }

  .check-button {
    width: 17px;
    height: 17px;
    padding: 0px;
  }

  .green-bg {
    width: 20px;
  }
  .yellow-bg {
    width: 20px;
  }
  .red-bg {
    width: 20px;
  }

  .text-wrap {
    width: 60%;
  }

  .text-item {
    font-size: 8px;
    font-weight: 400;
    margin-left: 0px;
    max-width: 150px; /* Set your desired maximum width */
    word-wrap: break-word;
    overflow-y: auto; /* Add a scrollbar if the content exceeds the height */
    max-height: 100px; /* Set your desired maximum height */
  }

  .plain-check-wrap {
    width: 90.5%;
  }

  .sec-7 {
    width: 90.5%;
  }

  .top-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .illustration-wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .sec-9 {
    padding-top: 6px;
    padding-bottom: 6px;
    width: 90.5%;
  }

  .message-box-wrap {
    width: 90.5%;
  }
  .quality-confirmation-items-wrap {
    width: 90.5%;
  }

  .q-inspection-name-warp {
    width: 90.5%;
    margin-left: 0px;
    /* padding: 10px; */
  }

  .footer-wrap {
    width: 90.5%;
  }
}
